body{
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    position:fixed;
}

.clock-container{
    width:240px;
    height:240px;
    border-width:10px;
    border-style: solid;
    border-radius:50%;
    position:relative;
    box-shadow: inset -10px 10px 15px rgba(black, .3), inset 10px -10px 15px rgba(black, .3);
    &::before{
        width:16px;
        height:16px;
        content:'';
        left:50%;
        top:50%;
        border-radius:50%;
        position:absolute;
        transform:translate(-50%,  -50%);
        z-index:5;
        }
    .no{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        text-align: center;
        padding:10px;
        h3{
            margin:0;
            font-weight: normal;
        }
        &::after{
            content: "";
            position: absolute;
            width: 3px;
            height: 15px;
            left:50%;
            transform:translateX(-50%);
            top:38px;
        }
    }
    .no-1{
      transform: rotate(30deg);
      h3{
          transform: rotate(-30deg);
      }
    }
    .no-2{
        transform: rotate(60deg);
        h3{
            transform: rotate(-60deg);
        }
    }
    .no-3{
        transform: rotate(90deg);
        h3{
            transform: rotate(-90deg);
        }
    }
    .no-4{
        transform: rotate(120deg);
        h3{
            transform: rotate(-120deg);
        }
    }
    .no-5{
        transform: rotate(150deg);
        h3{
            transform: rotate(-150deg);
        }
    }
    .no-6{
        transform: rotate(180deg);
        h3{
            transform: rotate(-180deg);
        }
    }
    .no-7{
        transform: rotate(210deg);
        h3{
            transform: rotate(-210deg);
        }
    }
    .no-8{
        transform: rotate(240deg);
        h3{
            transform: rotate(-240deg);
        }
    }
    .no-9{
        transform: rotate(270deg);
        h3{
            transform: rotate(-270deg);
        }
    }
    .no-10{
        transform: rotate(300deg);
        h3{
            transform: rotate(-300deg);
        }
    }
    .no-11{
        transform: rotate(330deg);
        h3{
            transform: rotate(-330deg);
        }
    }

    .clock-hand{
        width:100%;
        height:100%;
        position:absolute;
        div{
            left: 50%;
            bottom: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
        .second{
            width: 1px;
            height: 30%;
        }
        .minute{
            width: 4px;
            height: 25%;
            border-radius: 5px;
        }
        .hour{
            width: 8px;
            height: 20%;
            border-radius: 5px;
        }
    }
 
    
}


.switch-button{
    position:fixed;
    bottom:24px;
    right:24px;
    width:64px;
    height:36px;
    border-radius:36px;
    border:none;
    background-color: #555555;
    transition:all .3s ease;
    overflow: hidden;
    border:4px solid rgba(black, .1);
    &::after{
        width:28px;
        height:28px;
        position:absolute;
        content:'';
        background-color: white;
        top:50%;
        transform:translate(0, -50%);
        border-radius:50%;
        transition:all .3s ease;
        left:0;
    }
    &::before{
        position:absolute;
        content:'Dark';
        font-size:10px;
        line-height: 30px;
        top:0;left:0;right:0;bottom:0;
        text-align: right;
        padding:0 5px;
        color:white;
    }
    &.on{
        background-color: #F1F1F1;
        transition:all .3s ease;
        &::after{
            transition:all .3s ease;
            transform:translate(100%, -50%);
            background-color: #555555;
        }
        &::before{
            content:'Light';
            text-align: left;
            color:black;
        }
    }
}

/* Theme 
============================== */
.dark{
    background-color: #222222;
    .clock-container{
        border-color: white;
        background-color: rgba(white, .3);
        &::before{
            background-color: white;
        }
        .no{
            color:white;
            &:after{
                background-color: white;
            }
        }
        .clock-hand{
            .hour{
                background-color: black !important;
            }
            .minute{
                background-color: #151515 !important;
            }
            .second{
                background-color: white;
            }
        }
    }
}

.light{
    background-color: #ECCBD4;
    .clock-container{
        border-color: #0162B7;
        background-color: white;
        &::before{
            background-color: #0059B3;
        }
        .no{
            color:white;
            h3{
                color:black;
            }
            &:after{
                background-color: black;
            }
        }
        .clock-hand{
            .hour{
                background-color: #0059B3 !important;
            }
            .minute{
                background-color: #0059B3 !important;
            }
            .second{
                background-color: #0059B3;
            }
        }
    }
}